*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    border:10px solid rgb(60, 183, 255);
    border-radius: 4px;
    width: 100%;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: url(./bg.jpg);
    background-position: center;
    background-size: cover;
}
.innerdiv{
    border:2px solid aquamarine;
    display: flex;
    flex-direction: column;
    width:400px;
    height:450px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    border-radius: 8px;
    backdrop-filter: blur(6px);
}
form{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin: 20px;
}
.input{
    height: 30px;
    padding: 2px 5px;
    border-style: none;
    font-size: large;
}
.cb{
    display: flex;
    justify-content: space-between;
}
.button{
    height: 40px;
    background-color:aliceblue;
    border-radius: 5px;
    border-style: none;
    font-size: large;
}
.button :hover{
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.5s;
}
